<div class="list-group">
    <h4>Навигация:</h4>
        <a href="{{ url_for('admin.admin_page') }}" class="list-group-item list-group-item-action">Админка</a>
        <a href="{{ url_for('admin.users_list') }}" class="list-group-item list-group-item-action">Список пользователей</a>
        <a href="{{ url_for('admin.verification_users_page') }}" class="list-group-item list-group-item-action">Подтверждение пользователей</a>
        <a href="#" class="list-group-item list-group-item-action">Надо придумать</a>
    <br>
    <p>Скоро будет больше и лучше, но нужно подождать :)</p>
</div>
