{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('admin.process_verification_users') }}" class="col-4">
        <select id="user_id" name="user_id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.fullname }}</option>
            {% endfor %}
        </select>

        <select id="is_verification" name="is_verification" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value="True">Подтвержден</option>
          <option value="False">На проверке</option>
        </select>

        <input type="submit" class="btn btn-primary btn-sm">
    </form>

{% endblock %}

{% block content_other %}

    {% include 'admin/menu.html' %}

{% endblock %}
