{% extends "base.html" %}
{% block content %}



    <form action="{{ url_for('home.process_register') }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>{{ form.email() }}
        </p>
        <p>
            {{ form.password.label }}<br>{{ form.password() }}
        </p>
        <p>
            {{ form.password2.label }}<br>{{ form.password2() }}
        </p>
                <p>
            {{ form.first_name.label }}<br>{{ form.first_name() }}
        </p>
                <p>
            {{ form.middle_name.label }}<br>{{ form.middle_name() }}
        </p>
                <p>
            {{ form.last_name.label }}<br>{{ form.last_name() }}
        </p>
        <p>{{ form.submit }}</p>
    </form>

{% endblock %}