{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('user.process_login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.email.label }}
                    {{ form.email() }}
                </div>
                <div class="form-floating">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="form-group form-check">
                    {{ form.remember_user }}
                    {{ form.remember_user.label() }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>

    <div class="col-8">

    </div>

{% endblock %}