{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('user.process_register') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.email.label }}
                    {{ form.email() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.first_name.label }}
                    {{ form.first_name() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.middle_name.label }}
                    {{ form.middle_name() }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.last_name.label }}
                    {{ form.last_name() }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>

    <div class="col-8">

    </div>

{% endblock %}